
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */

  #root, #__next {
    isolation: isolate;
  }

  /************************************/
  /************************************/
  /************************************/

  .bg { 
    width: 100vw;
    height: 100vh;
    background-color:rgb(212, 220, 235);
    display: flex;
    flex-direction: column;
    gap:0.5vw;
  }

  .header {
    padding-left: 1rem;
    border-radius: 10px;
    height: max(7vh,80px);
    background-color: aliceblue;
    display: flex;
    align-items: center;
  }
    .logo {
      border-radius: 100% 0px 100% 0px;
      height: 50px;
      width: 50px;
      outline: 5px solid rgb(38, 60, 135);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.1s all linear;
    }
    .logo:hover {
      outline-offset: -25px;
      outline: 30px solid rgb(38, 60, 135);;
      transition: 0.1s all linear;
    }
      .logo-circ-one {
        border-radius: 100%;
        height: 39px;
        width: 39px;
        outline: 5px solid aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s all linear;
      }

        .logo-circ-two {
          border-radius: 100%;
          height: 30px;
          width: 30px;
          outline: 5px solid rgb(68, 94, 179);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.1s all linear;
        }
          .logo-circ-three {
            border-radius: 100%;
            height: 20px;
            width: 20px;
            outline: 5px solid aliceblue;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(38, 60, 135);
            transition: 0.1s all linear;
          }
          
  .logo-text {
    margin-left: 1rem;
    font-family: 'Outfit Variable', sans-serif;
    font-size: 2rem;
    letter-spacing: -0.3rem;
    color:rgb(38, 60, 135) ;
    transition: 0.1s all linear 0.1s;
  }

  .logo-text:hover {
    letter-spacing: 0.5rem;
    color:rgb(98, 125, 211);
    transition: 0.1s all linear 0.1s;
  }
  
  .midler {
    height: 99vh;
    width: 99vw;
    display: flex;
    gap:0.5vw;
  }

  .sidebar {
    border-radius: 10px;
    width: max(12vw,300px);
    height: 100%;
    background-color: aliceblue;
    padding: 1rem;
  }

    .projects{
      font-family: 'Outfit Variable', sans-serif;
      font-size: 2rem;
      color:rgb(38, 60, 135) ;
      font-weight: bold;
    }

    .projects-container {
      text-wrap:wrap;
      overflow-x:visible;
      width: 100%;
      max-height: 75vh;
      overflow-y: scroll;
      /* scrollbar-width: thin;
      scrollbar-color: rgb(38, 60, 135) aliceblue; */
    }

    *::-webkit-scrollbar {
      width: 3px;
    }
    *::-webkit-scrollbar-track {
      background: aliceblue;
    }
    *::-webkit-scrollbar-thumb {
      background: rgb(38, 60, 135);
    }

      .project-content {
        width: 100%;
        padding-bottom: 0.2rem;
        padding-left: 1rem;
        border-radius: 0.5rem;
        font-family: 'Outfit Variable', sans-serif;
        font-size: 1.25rem;
        color:rgb(38, 60, 135);
        transition: 0.1s all linear 0.1s;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .project-content>p {
        width: 90%;
      }

      .project-content:hover {
        background-color: rgb(227, 239, 248);
        transition: 0.1s all linear;
      }

      .projectButton {
        margin-top: 1rem;
        padding-bottom: 0.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.5rem;
        font-family: 'Outfit Variable', sans-serif;
        font-size: 1.25rem;
        background-color:rgb(38, 60, 135);
        color: aliceblue;
        transition: 0.1s all linear 0.1s;
        width: fit-content;
      }

      .projectButton:hover {
        background-color:rgb(98, 125, 211);
        transition: 0.1s all linear;
      }


.contentBody {
  padding: 0px 0.5vw 0.5vw 0px;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px,3fr));
  grid-auto-rows: 450px;
  gap: 1rem;

}

.contentBody::-webkit-scrollbar-track {
  background: rgb(212, 220, 235);
}

.grid-cell {
  border-radius: 10px;
  background-color: aliceblue;
  transition: 0.1s all linear;
}
.grid-cell:hover {
  outline-offset: -1px;
  outline: 1px solid rgb(38, 60, 135);
  transition: 0.05s all linear;
}

.contentButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.contentButton>h1 {
  font-family: 'Outfit Variable', sans-serif;
  font-size: 600%;
  font-weight: bolder;
  color: rgb(38, 60, 135);
  line-height: 2rem;
}
.contentButton>p {
  font-family: 'Outfit Variable', sans-serif;
  font-size: 200%;
  font-weight: bolder;
  color: rgb(38, 60, 135);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}






.backBlur {
  display: block;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(10px); 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
}

  .markForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 30vw;
    height: 30vh;
    background-color:aliceblue;
  }
    .closeForm {
      align-self: flex-end;
      border-radius: 100%;
      width: 30px;
      height: 30px;
      background-color: rgb(38, 60, 135);
      outline-offset: -5px;
      outline: 5px solid rgb(38, 60, 135);

    }
    .closeForm:hover {
      background-color: aliceblue;
    }

